<!DOCTYPE html>
<html>

<head>
  <title>muz-nazir 🎧</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style>
    html,
    body {
      height: 100%;
    }

    body {
      background: #efb400;
      font: 13px monospace;
      color: #FFFFFF;
    }

    p {
      margin-top: 30px;
    }

    .cntr {
      display: table;
      width: 100%;
      height: 100%;
    }

    .cntr .cntr-innr {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }

    /*** STYLES ***/
    .search {
      display: inline-block;
      position: relative;
      height: 35px;
      width: 35px;
      box-sizing: border-box;
      margin: 0px 8px 7px 0px;
      padding: 7px 9px 0px 9px;
      border: 3px solid #FFFFFF;
      border-radius: 25px;
      transition: all 200ms ease;
      cursor: text;
    }

    .search:after {
      content: "";
      position: absolute;
      width: 3px;
      height: 20px;
      right: -5px;
      top: 21px;
      background: #FFFFFF;
      border-radius: 3px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      transition: all 200ms ease;
    }

    .search.active,
    .search:hover {
      width: 400px;
      margin-right: 0px;
    }

    .search.active:after,
    .search:hover:after {
      height: 0px;
    }

    .search input {
      width: 100%;
      border: none;
      box-sizing: border-box;
      font-family: "Source Code Pro", Courier, monospace;
      font-size: 15px;
      color: inherit;
      background: transparent;
      outline-width: 0px;
    }

    .bg-image {
      /* The image used */
      background-image: url("/images/bg.png");

      /* Add the blur effect */
      filter: blur(8px);
      -webkit-filter: blur(8px);

      /* Full height */
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .bg-text {
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/opacity/see-through */
      font-weight: bold;
      font-weight: bold;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 80%;
      padding: 20px;
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="row h-100 align-items-center justify-content-md-center">
    <div class="col-md-auto">
      <div class="cntr">
        <div class="cntr-innr">
          <label class="search" for="inpt_search">
            <input id="inpt_search" type="url" name="url" autocomplete="off" />
          </label>
        </div>
      </div>

      <!-- status -->
      <div class="col mt-3" id="status" style="display: none">
        <span>
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" id="status-icon"></span>
          <span class="font-weight-bold" style="font-size: 18px" id="status-text"></span>
        </span>
      </div>

      <!-- found media -->
      <div class="col mt-5">
        <div class="media" id="media">
          <img src="#" class="mr-3" alt="" width="64" height="64" id="song-thumbnail">
          <div class="media-body">
            <h5 class="mt-0" id="song-artist"></h5>
            <span id="song-title"></span>
          </div>
        </div>
      </div>


    </div>
  </div>

  <footer>By: Russulh</footer>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

  <script>
    $(document).ready(function () {
      $("#inpt_search").on('focus', function () {
        $(this).parent('label').addClass('active');
        $("#status-text").css('display', 'unset');
      });

      $("#inpt_search").on('blur', function () {
        if ($(this).val().length == 0) {
          $(this).parent('label').removeClass('active');
          $("#status").css('display', 'none');
        }
      });

      $("#inpt_search").keyup(function (e) {
        e.preventDefault();
        $("#status").css('display', 'unset');

        if (e.keyCode === 13) {
          var url = $(this).val();
          // console.log(urlChecking(url));
          if (!url) {
            $("#status-text").text('Enter url');
          } else if (!urlChecking(url)) {
            $("#status-text").text('Enter valid url');
          } else {
            $("#status-text").text('Searching ..');
            $(this).prop('disabled', true);
            var formData = {
              'url': url
            };

            $.ajax({
              type: "POST",
              url: "search",
              data: formData,
              dataType: "json",
              success: function (response) {
                console.log(response);
                $(this).val('');
                $(this).prop('disabled', false);
                $("#status-text").text('');
                $("#media").css('display', 'flex');
                $("#status").css('display', 'none');

                $("#song-artist").text(response.artist);
                $("#song-title").text(response.title);
                $("#song-thumbnail").attr('src', response.thumbnail);
              },
              error: function (e) {
                $(this).val('');
                $(this).prop('disabled', false);
                console.log(e);
                $("#status-text").text('Something went wrong.')
              }
            });
          }
        }
      });
    });

    function urlChecking(url) {
      var p = /(http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
      return (p.test(url)) ? url : false;
    }
  </script>
</body>

</html>